/* -------------------------------------------------- */
/*  Design Tokens - Used Globally Across the Project  */
/* -------------------------------------------------- */

@layer theme {
  :root {
    /* Brand Colors */
    --color-primary: #00b7c1;
    --color-primary-200: #c0edf0;
    --color-primary-500: #a0e4ef;
    --color-secondary: #ffa630;
    /* --color-primary-text: #eeeef0;
    --color-secondary-text: #b2b3bd;
     */

    /* UI Backgrounds */
    --color-bg: #f3f4f6;
    --color-bg-alt: #ffffff;
    --color-form: #222325;

    /* Text Colors */
    --color-text-primary: #19191b;
    --color-text-secondary: #62636c;
    --color-gray-200: #817c67;

    /* Dark Mode */
    --color-bg-dark: #1d1d20;
    --color-bg-dark-alt: #131516;
    --color-form-dark: #7c94c4;
    --color-text-primary: #eeeef0;
    --color-text-secondary: #b2b3bd;

    /* Border Radius */

    --radius-sm: 4px;
    --radius-md: 10px;
    --radius-lgs: 16px;

    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.2);

    /* Typography */
    --font-sans: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --font-regular: 400;
    --font-bold: 700;

    /* Spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 20px;
    --space-xl: 24px;
    --space-2xl: 32px;
    --space-3xl: 40px;
  }

  /* Dark Variant */
  :root.dark {
    --color-bg: var(--color-bg-dark);
    --color-bg-alt: var(--color-bg-dark-alt);
    --color-text: var(--color-text-primary);
    --color-form: var(--color-form-dark);
  }
}
