/* -------------------------------------------------- */
/*  Design Tokens - Used Globally Across the Project  */
/* -------------------------------------------------- */

@layer theme {
  :root {
    /* Brand Colors */
    --color-primary: #108448;
    --color-primary-100: #f0f8f4;
    --color-primary-400: #e4efec;
    --color-primary-600: #94c1ab;
    --color-primary-700: #43735b;
    --color-primary-900: #04301b;
    --color-secondary: #e45c10;
    --color-secondary-600: #eeb798;
    --color-secondary-900: #89370a;
    /* --color-primary-text: #eeeef0;
    --color-secondary-text: #b2b3bd;
     */

    /* UI Backgrounds */
    --color-bg: #ffffff;
    --color-bg-alt: #f3f4f6;
    --color-form: #131c23;

    /* Text Colors */
    --color-text-primary: #19191b;
    --color-text-secondary: #62636c;
    --color-gray-200: #817c67;

    /* Dark Mode */
    --color-bg-dark: #131c23;
    --color-bg-dark-alt: #1a2527;
    --color-form-dark: #7c94c4;
    --color-text-primary: #eeeef0;
    --color-text-secondary: #b2b3bd;

    /* Border Radius */

    --radius-sm: 4px;
    --radius-md: 10px;
    --radius-lg: 16px;
    --radius-xlg: 20px;
    --radius-2xl: 24px;
    --radius-3xl: 28px;
    --radius-4xl: 32px;

    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(233, 227, 227, 0.31);
    --shadow-md: 0 4px 6px rgba(175, 169, 169, 0.722);
    --shadow-lg: 0 10px 20px rgba(188, 179, 179, 0.84);

    /* Typography */
    --font-sans: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --font-regular: 400;
    --font-bold: 700;

    /* Spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 20px;
    --space-xl: 24px;
    --space-2xl: 28px;
    --space-3xl: 32px;
    --space-4xl: 32px;
  }

  /* Dark Variant */
  :root.dark {
    --color-bg: var(--color-bg-dark);
    --color-bg-alt: var(--color-bg-dark-alt);
    --color-text: var(--color-text-primary);
    --color-form: var(--color-form-dark);
    --shadow-sm: 0 1px 3px rgba(233, 227, 227, 0.12);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}
